---

import SiteHeader from "@/components/SiteHeader.astro";
import SiteNav from "@/components/SiteNav.astro";
import SiteFooter from "@/components/SiteFooter.astro";

import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Mi página web sobre Astro";
const description = "Una larga y detallada descripción de mi página.";

---

<!-- En BaseLayout esta todo nuestro head de html, actua como un componente mas -->
<BaseLayout title={title} description={description}>

	<SiteHeader 
		title={title} />

	<SiteNav />

	<h2>{title}</h2>

	<main>
		<p>{description}</p>
	</main>

	<SiteFooter />

</BaseLayout>